<section id="page-404-wrap" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                   <div class="page-404-content">
                   	<div class="number">
						<div class="four">4</div>
						<div class="zero">
							<img src="/images/404.png" alt="404">
						</div>
						<div class="four">4</div>
                   	</div>
                   	<h4>PÁGINA NÃO ENCONTRADA!</h4>
                   	<p>DESCULPE, NÓS NÃO ENCONTRAMOS ESTA PÁGINA <br> QUE VOCÊ ESTÁ PROCURANDO</p>
                   	<a href="/" class="btn-404-home"><i class="fa fa-home"></i>Volte para o Início</a>
                   </div>
               </div>
       	</div>
    </div>
</section>