<!--== SlideshowBg ==-->
   <section id="slideslow-bg">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <div class="slideshowcontent">
                       <div class="display-table">
                           <div class="display-table-cell">
                               <h1>LEVARAM O MEU CARRO! <br> E AGORA?</h1>
                               <p>* PRIMEIRO, AVISE AS AUTORIDADES: 190 PM E 191 PF * <br> CADASTRE O SEU CARRO E INFORME A SITUAÇÃO DELE!</p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
<!--== SlideshowBg End ==-->

<!--== About Us Start ==-->
   <section id="about-area" class="section-padding">
       <div class="container">
           <div class="row">
               <!-- Section Title -->
               <div class="col-lg-12">
                   <div class="section-title  text-center">
                       <h2>Sobre Nós</h2>
                       <span class="title-line"><i class="fa fa-car"></i></span>
                       <p>- PREZAMOS PELA TRANSPARÊNCIA E SUA SEGURANÇA -
                       </p>
                   </div>
               </div>
               <!-- Section Title End -->
           </div>

           <div class="row">
               <!-- About Content -->
               <div class="col-lg-6">
                   <div class="display-table">
                       <div class="display-table-cell">
                           <div class="about-content">
                               <p>    A violência no Brasil é uma constante e, a cada dia, surgem mais notícias sobre roubos e furtos de veículos. Isso leva muitas pessoas a recorrerem a seguros e a proteções particulares a fim de minimizar quaisquer prejuízos que venham a ter com seus veículos. <br><br>
                               Pensando nisso, criamos esta plaforma colaborativa, para que as pessoas pesquisem as situações dos veículos e possam fazer as negociações de forma mais segura.
                              </p>
                           </div>
                       </div>
                   </div>
               </div>
                <!-- About Content End -->

                <!-- About Image -->
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="/images/corolla.png" alt="Corolla">
                    </div>
                </div>
            </div>

            <!-- About Fretutes -->
            <div class="about-feature-area">
                <div class="row">
                    <!-- Single Fretutes -->
                    <div class="col-lg-4">
                        <div class="about-feature-item active">
                            <i class="fa fa-car"></i>
                            <h3>TRANSPARÊNCIA</h3>
                            <p>A SUA SATISFAÇÃO REFLETE EM NOSSAS AÇÕES. A CONSULTA EM NOSSO BANCO É GRATUITA PARA SEMPRE.</p>
                        </div>
                    </div>
                
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <i class="fa fa-car"></i>
                            <h3>SEGURANÇA</h3>
                            <p>PRESERVAMOS A SUA PRIVACIDADE E NÃO DIVULGAMOS ALÉM DO NECESSÁRIO PARA A CONSULTA. </p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <i class="fa fa-car"></i>
                            <h3>CREDIBILIDADE</h3>
                            <p>NOSSA MISSÃO É ORGANIZAR AS INFORMAÇÕES DE FORMA RÁPIDA E TORNÁ-LAS ACESSÍVEIS E ÚTEIS.</p>
                        </div>
                    </div>
                    <!-- Fretutes End -->
                </div>
            </div>
            <!-- About End -->
        </div>
    </section>
    <!--== About Us End ==-->

<!--== Partners Area Start ==-->
    <div id="partner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="partner-content-wrap">
                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/carrosnaweb.png" alt="Carros Na Web">
                                </div>
                            </div>
                        </div>

                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/olx.png" alt="OLX">
                                </div>
                            </div>
                        </div>
                      
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/stolencars.png" alt="Stolen Cars">
                                </div>
                            </div>
                        </div>
                       
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/noticiasautomotivas.png" alt="Noticias Automotivas">
                                </div>
                            </div>
                        </div>
                       
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/logo-checkauto.jpg" alt="CheckAuto">
                                </div>
                            </div>
                        </div>
                        
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/portoseguro.png" alt="Porto Seguro">
                                </div>
                            </div>
                        </div>
                       
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/detran-sp-logo.png" alt="Detran-SP">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--== Partner Area End ==-->

 <!--== Services Area ==-->
    <section id="service-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Nossos Serviços</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>- PENSAMOS E AGIMOS COMO DONOS -</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

			<!-- Service Content Start -->
			<div class="row">
				<div class="col-lg-11 m-auto text-center">
					<div class="service-container-wrap">
						<!-- Single Service -->
						<div class="service-item">
							<i class="fa fa-car"></i>
							<h3>CONSULTA</h3>
							<p>TEMOS UMA AMPLA BASE DE DADOS COLABORATIVA PARA CONSULTA DE CARROS.</p>
						</div>
						
						<div class="service-item">
							<i class="fa fa-cog"></i>
							<h3>CADASTRE O SEU CARRO</h3>
							<p>PARA AJUDAR NO PROCESSO DE NEGOCIAÇÃO, NOSSOS USUÁRIOS CADASTRAM OS CARROS E ASSIM, <br> AS CONSULTAS TORNAM-SE MAIS FÁCEIS!</p>
						</div>
						
						<div class="service-item">
							<i class="fa fa-shield"></i>
							<h3>SEGURANÇA</h3>
							<p>OFERECEMOS DICAS DE SEGURANÇA PARA OS NOSSOS USUÁRIOS, COM POSTAGENS SEMANIS.</p>
						</div>
						<!-- Single Service End -->
					</div>
				</div>
			</div>
			<!-- Service End -->
        </div>
    </section>
<!--== Services End ==-->

<!--== Fact Area ==-->
    <section id="funfact-area" class="overlay section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-md-12 m-auto">
                    <div class="funfact-content-wrap">
                        <div class="row">
                            <!-- Fact Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">50</span>+</p>
                                        <h4>CLIENTES SATISFEITOS</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-car"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">50</span>+</p>
                                        <h4>PLACAS CADASTRADAS</h4>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-bank"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">100</span>+</p>
                                        <h4>ACESSOS DIÁRIOS</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Fact End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--== Fun Fact Area End ==-->

<!--== Team ==-->
    <section id="team-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>NOSSO TIME</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Lorem ipsum dolor sit amet elit.</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="team-content">
                        <div class="row">
                            <!-- Team Tab -->
                            <div class="col-lg-4">
                                <div class="team-tab-menu">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab_item_1" data-toggle="tab" href="#team_member_1" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="/images/thumbS.png" alt="SG">
                                                </div>
                                                <h5>Sebastião Galindo</h5>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab_item_2" data-toggle="tab" href="#team_member_2" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="/images/thumbR.png" alt="RM">
                                                </div>
                                                <h5>Rhaysa Madruga</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Team Tab Menu End -->

                            <div class="col-lg-8">
                                <div class="tab-content" id="myTabContent">
                                    <!-- Team -->
                                    <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="/images/PerfilS.png" alt="SG">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>Sebastião Galindo</h4>
                                                    <h5>Desenvolvedor Web</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>Lorem.</p>
                                                    <div class="team-social-icon">
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        <a href="#"><i class="fa fa-github"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Team  End -->

                                    <div class="tab-pane fade" id="team_member_2" role="tabpanel" aria-labelledby="tab_item_2">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="/images/PerfilR.png" alt="RM">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>Rhaysa Madruga</h4>
                                                    <h5>Desenvolvedora Web</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>CONHECEDORA DE NADA,<br> APRENDIZ DE TUDO.</p>
                                                    <div class="team-social-icon">
                                                        <a href="https://www.linkedin.com/in/rlmadruga/"><i class="fa fa-linkedin"></i></a>
                                                        <a href="https://github.com/rlmadruga"><i class="fa fa-github"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Team  End -->
                                </div>
                            </div>
                            <!-- Team Tab End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--== Team End ==-->

<!--== Map ==-->
    <div id="mobileapp-video-bg"></div>
    <section id="mobile-app-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="mobile-app-content">
                        <h2>De 2015 a 2019, entre roubos e furtos, foram mais de 2 milhões de ocorrências! </h2>
                        {{!-- <div id="map_canvas"></div> --}}
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--== Mobile App Area End ==-->


<!--== Articles ==-->
    <section id="tips-article-area" class="section-padding">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>DICAS E ARTIGOS</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Fique por dentro das últimas notícias!</p>
                    </div>
                </div>
                
            </div>

            <!-- Articles Content Wrap -->
            <div class="row">
                <!-- Articles -->
                <div class="col-lg-12">
                    <article class="single-article">
                        <div class="row">
                            <!-- Thumbnail -->
                            <div class="col-lg-5">
                                <div class="article-thumb">
                                    <img src="/images/covid.jpg" alt="Covid Higiene">
                                </div>
                            </div>
                            

                            <!-- Content -->
                            <div class="col-lg-7">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="article-body">
                                            <h3><a href="http://www.autoblog.pt/covid-19-se-mais-do-que-uma-pessoa-utiliza-o-seu-automovel-tenha-cuidados-redobrados-com-a-higiene/">COVID-19 - Cuidados neceários com o Carro</a></h3>
                                            <div class="article-meta">
                                                <a href="#" class="author">By :: <span>Admin</span></a>
                                                <a href="#" class="commnet">Comments :: <span>10</span></a>
                                            </div>

                                            <div class="article-date">18 <span class="month">abr</span></div>

                                            <p>Numa altura dramática como vive o mundo em geral por culpa da Pandemia, é importante que não descuide a higiene em todas as áreas, mas mais em particular no seu automóvel.</p>

                                            <a href="http://www.autoblog.pt/covid-19-se-mais-do-que-uma-pessoa-utiliza-o-seu-automovel-tenha-cuidados-redobrados-com-a-higiene/" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Content End -->
                        </div>
                    </article>
                </div>

                <div class="col-lg-12">
                    <article class="single-article middle">
                        <div class="row">

                            <!-- Thumbnail -->
                            <div class="col-lg-5 d-xl-none">
                                <div class="article-thumb">
                                    <img src="/images/articleTech.jpg" alt="Tecnologias">
                                </div>
                            </div>
                          

                            <!-- Content -->
                            <div class="col-lg-7">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="article-body">
                                            <h3><a href="https://www.oficinadanet.com.br/tecnologia/28560-6-tecnologias-para-carros-do-futuro-que-voce-deve-conhecer">6 Tecnologias do Futuro que você deve conhecer</a></h3>
                                            <div class="article-meta">
                                                <a href="#" class="author">By :: <span>Admin</span></a>
                                                <a href="#" class="commnet">Comments :: <span>10</span></a>
                                            </div>

                                            <div class="article-date">19<span class="month">abr</span></div>

                                            <p>Quando se fala em tecnologias para carros do futuro, muita gente já imagina os carros voando, como era visto em desenhos e filmes dos anos 80. Essa talvez até venha a ser uma realidade, mas não nos próximos anos.</p>

                                            <a href="https://www.oficinadanet.com.br/tecnologia/28560-6-tecnologias-para-carros-do-futuro-que-voce-deve-conhecer" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Articles Content End -->
                         <!-- Articles Thumbnail Start -->
                            <div class="col-lg-5 d-none d-xl-block">
                                <div class="article-thumb">
                                    <img src="/images/articleTech.jpg" alt="Tecnologias">
                                </div>
                            </div>
                            <!-- Articles Thumbnail End -->

                        </div>
                    </article>
                </div>
              
                <!-- Single Articles Start -->
                <div class="col-lg-12">
                    <article class="single-article">
                        <div class="row">
                            <!-- Articles Thumbnail Start -->
                            <div class="col-lg-5">
                                <div class="article-thumb">
                                    <img src="/images/article3.jpg" alt="Cuidados com o Carro">
                                </div>
                            </div>
                            <!-- Articles Thumbnail End -->

                            <!-- Articles Content Start -->
                            <div class="col-lg-7">
                                <div class="display-table">
                                    <div class="display-table-cell">
                                        <div class="article-body">
                                            <h3><a href="#">Cuidados com o Carro parado</a></h3>
                                            <div class="article-meta">
                                                <a href="http://www.autoblog.pt/mecanica-sobre-rodas-os-conselhos-para-quem-tem-o-automovel-muito-tempo-parado/" class="author">By :: <span>Admin</span></a>
                                                <a href="#" class="commnet">Comments :: <span>10</span></a>
                                            </div>

                                            <div class="article-date">24 <span class="month">abr</span></div>

                                            <p>Conhecer os principais cuidados a ter para quem, tem um ou mais automóveis parados sem circular durante um período grande de tempo.Existem algumas diferenças nalguns desses cuidados se a viatura for movida a gasóleo ou gasolina.</p>

                                            <a href="http://www.autoblog.pt/mecanica-sobre-rodas-os-conselhos-para-quem-tem-o-automovel-muito-tempo-parado/" class="readmore-btn">Read More <i class="fa fa-long-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Articles Content End -->
                        </div>
                    </article>
                </div>
                <!-- Single Articles End -->
            </div>
            <!-- Articles Content Wrap End -->
        </div>
    </section>
<!--== Articles Area End ==-->

