<!--== SlideshowBg ==-->
   <section id="slideslow-bg">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <div class="slideshowcontent">
                       <div class="display-table">
                           <div class="display-table-cell">
                               <h1>LEVARAM O MEU CARRO! E AGORA?</h1>
                               <p> Já avisou as autoridades? <br> Cadastre / Consulte o seu carro em nosso banco!</p>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
<!--== SlideshowBg End ==-->

<!--== About Us Start ==-->
   <section id="about-area" class="section-padding">
       <div class="container">
           <div class="row">
               <!-- Section Title -->
               <div class="col-lg-12">
                   <div class="section-title  text-center">
                       <h2>Sobre Nós</h2>
                       <span class="title-line"><i class="fa fa-car"></i></span>
                       <p> Não perca tempo! Cadastre o seu veículo e avisa a comunidade!
                       </p>
                   </div>
               </div>
               <!-- Section Title End -->
           </div>

           <div class="row">
               <!-- About Content -->
               <div class="col-lg-6">
                   <div class="display-table">
                       <div class="display-table-cell">
                           <div class="about-content">
                               <p>A violência no Brasil é uma constante e, a cada dia, surgem mais notícias sobre roubos e furtos de veículos. Isso leva muitas pessoas a recorrerem a seguros e a proteções particulares a fim de minimizar quaisquer prejuízos que venham a ter com seus veículos. 
                              </p>
                              <p> Pensando nisso, nós pensamos em criar uma plaforma colaborativa, para que as pessoas pudessem cadastrar os seus veículos para avisar a comunidade sobre sua situação.
                              </p>
                           </div>
                       </div>
                   </div>
               </div>
                <!-- About Content End -->

                <!-- About Image -->
                <div class="col-lg-6">
                    <div class="about-image">
                        <img src="/images/corolla.png" alt="Corolla">
                    </div>
                </div>
            </div>

            <!-- About Fretutes -->
            <div class="about-feature-area">
                <div class="row">
                    <!-- Single Fretutes -->
                    <div class="col-lg-4">
                        <div class="about-feature-item active">
                            <i class="fa fa-car"></i>
                            <h3>CONSULTA DE PLACAS</h3>
                            <p>A nossa empresa dispõe de uma ampla base de dados colaborativa para consulta de situações dos carros.</p>
                        </div>
                    </div>
                
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <i class="fa fa-car"></i>
                            <h3>CADASTRE O SEU CARRO</h3>
                            <p>Para ajudar os outros, nossos usuários cadastram os seus carros e assim, as consultas tornam-se mais fáceis! </p>
                        </div>
                    </div>
                    
                    <div class="col-lg-4">
                        <div class="about-feature-item">
                            <i class="fa fa-car"></i>
                            <h3>DICAS DE SEGURANÇA</h3>
                            <p>Nossa empresa oferece dicas de segurança para os seus usuários, com postagens semanais.</p>
                        </div>
                    </div>
                    <!-- Single Fretutes End -->
                </div>
            </div>
            <!-- About Features End -->
        </div>
    </section>
    <!--== About Us Area End ==-->

<!--== Partners Area Start ==-->
    <div id="partner-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="partner-content-wrap">
                        <!-- Single Partner Start -->
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/carrosnaweb.png" alt="Carros Na Web">
                                </div>
                            </div>
                        </div>

                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/olx.png" alt="OLX">
                                </div>
                            </div>
                        </div>
                      
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/stolencars.png" alt="Stolen Cars">
                                </div>
                            </div>
                        </div>
                       
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/noticiasautomotivas.png" alt="Noticias Automotivas">
                                </div>
                            </div>
                        </div>
                       
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/logo-checkauto.jpg" alt="CheckAuto">
                                </div>
                            </div>
                        </div>
                        
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/portoseguro.png" alt="Porto Seguro">
                                </div>
                            </div>
                        </div>
                       
                        <div class="single-partner">
                            <div class="display-table">
                                <div class="display-table-cell">
                                    <img src="/images/detran-sp-logo.png" alt="Detran-SP">
                                </div>
                            </div>
                        </div>
                        <!-- Single Partner End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
 <!--== Partner Area End ==-->

 <!--== Services Area ==-->
    <section id="service-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>Nossos Serviços</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

			<!-- Service Content Start -->
			<div class="row">
				<div class="col-lg-11 m-auto text-center">
					<div class="service-container-wrap">
						<!-- Single Service -->
						<div class="service-item">
							<i class="fa fa-car"></i>
							<h3>VALOR 1</h3>
							<p>A nossa empresa dispõe de uma ampla base de dados colaborativa para consulta de situações dos carros.</p>
						</div>
						
						<div class="service-item">
							<i class="fa fa-cog"></i>
							<h3>VALOR 2</h3>
							<p>Para ajudar os outros, nossos usuários cadastram os seus carros e assim, as consultas tornam-se mais fáceis!</p>
						</div>
						
						<div class="service-item">
							<i class="fa fa-shield"></i>
							<h3>VALOR 3</h3>
							<p>Nossa empresa oferece dicas de segurança para os seus usuários, com postagens semanais.</p>
						</div>
						<!-- Single Service End -->
					</div>
				</div>
			</div>
			<!-- Service Content End -->
        </div>
    </section>
<!--== Services Area End ==-->

<!--== Fact Area ==-->
    <section id="funfact-area" class="overlay section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-11 col-md-12 m-auto">
                    <div class="funfact-content-wrap">
                        <div class="row">
                            <!-- Fact Start -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-smile-o"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">50</span>+</p>
                                        <h4>CLIENTES SATISFEITOS</h4>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-car"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">50</span>+</p>
                                        <h4>PLACAS CADASTRADAS</h4>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-lg-4 col-md-6">
                                <div class="single-funfact">
                                    <div class="funfact-icon">
                                        <i class="fa fa-bank"></i>
                                    </div>
                                    <div class="funfact-content">
                                        <p><span class="counter">100</span>+</p>
                                        <h4>ACESSOS DIÁRIOS</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- Fact End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--== Fun Fact Area End ==-->

<!--== Team ==-->
    <section id="team-area" class="section-padding">
        <div class="container">
            <div class="row">
                <!-- Section Title -->
                <div class="col-lg-12">
                    <div class="section-title  text-center">
                        <h2>NOSSO TIME</h2>
                        <span class="title-line"><i class="fa fa-car"></i></span>
                        <p>Lorem ipsum dolor sit amet elit.</p>
                    </div>
                </div>
                <!-- Section Title End -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="team-content">
                        <div class="row">
                            <!-- Team Tab -->
                            <div class="col-lg-4">
                                <div class="team-tab-menu">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="tab_item_1" data-toggle="tab" href="#team_member_1" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="/images/thumbS.png" alt="SG">
                                                </div>
                                                <h5>Sebastião Galindo</h5>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="tab_item_2" data-toggle="tab" href="#team_member_2" role="tab" aria-selected="true">
                                                <div class="team-mem-icon">
                                                    <img src="/images/thumbR.png" alt="RM">
                                                </div>
                                                <h5>Rhaysa Madruga</h5>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- Team Tab Menu End -->

                            <div class="col-lg-8">
                                <div class="tab-content" id="myTabContent">
                                    <!-- Team -->
                                    <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="/images/PerfilS.png" alt="SG">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>Sebastião Galindo</h4>
                                                    <h5>Desenvolvedor Web</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>Lorem.</p>
                                                    <div class="team-social-icon">
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        <a href="#"><i class="fa fa-github"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Team  End -->

                                    <div class="tab-pane fade" id="team_member_2" role="tabpanel" aria-labelledby="tab_item_2">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-pro-pic">
                                                    <img src="/images/PerfilR.png" alt="RM">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="team-member-info text-center">
                                                    <h4>Rhaysa Madruga</h4>
                                                    <h5>Desenvolvedora Web</h5>
                                                    <span class="quote-icon"><i class="fa fa-quote-left"></i></span>
                                                    <p>Lorem.</p>
                                                    <div class="team-social-icon">
                                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                                        <a href="#"><i class="fa fa-github"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Team  End -->
                                </div>
                            </div>
                            <!-- Team Tab End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--== Team Area End ==-->



{{!-- <dir id="map_canvas"></dir> --}}